<div class='row'>
  <h1>Crează un chestionar:</h1>
  <form #pollForm="ngForm" (ngSubmit)="createPoll()" novalidate>
    <div class="col-md-6">
      <label>Întrebare</label>
      <div [ngClass]="{'form-group form-group-lg': true, 'has-success': questionInput.valid, 'has-error': questionInput.dirty && !questionInput.valid}">
        <input required #questionInput="ngModel" [(ngModel)]="poll.question" name="question" placeholder="Ex: Care e culoarea ta preferata?" class="form-control" />    
      </div>
      <label>Răspunsuri</label>
      <div *ngFor="let answer of poll.answers; let i = index; trackBy:customTrackBy" [ngClass]="{'form-group': true, 'has-success': answerInput.valid, 'has-error': answerInput.dirty && !answerInput.valid}">
        <div class="input-group">
          <input #answerInput="ngModel" required [(ngModel)]="answer.text" name="answers[{{i}}]" placeholder="Ex: Răspuns {{i + 1}}" class="form-control"/>
          <span class="input-group-btn">
            <button type="button" (click)="deleteAnswer(i)" tabindex="-1" [ngClass]="poll.answers.length > 1 ? 'btn btn-danger' : 'btn btn-danger disabled'">Șterge</button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <a href="#" (click)="addAnswer()">Adauga un raspuns</a>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!pollForm.valid" class="btn btn-lg btn-success">Gata!</button>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Preview -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Cam așa o să arate:</h3>
        </div>
        <div class="panel-body">
          <form>
            <h2 [ngSwitch]="poll.question === ''">
              <em *ngSwitchCase='true'>Întrebarea ta?</em>
              <div *ngSwitchCase='false'>{{poll.question}}</div>
            </h2>
            <div *ngFor="let answer of poll.answers; let i = index" class="form-group">
              <div [ngClass]="poll.multipleChoice ? 'checkbox' : 'radio'">
                <label>
                  <input type="{{poll.multipleChoice ? 'checkbox' : 'radio'}}">
                  <div [ngSwitch]="answer.text === ''">
                    <em *ngSwitchCase='true'>{{'Răspuns ' + (i+1)}}</em>
                    <div *ngSwitchCase='false'>{{answer.text}}</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Voteaza</button>
              <button *ngIf="!poll.hideResults" class="btn btn-primary">Rezultate</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Options -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Opțiuni</h3>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="multipleChoice" [(ngModel)]="poll.multipleChoice" value="">
              Se pot selecta mai multe răspunsuri
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="hideResults" [(ngModel)]="poll.hideResults" value="">
              Ascunde butonul Rezultate
            </label>
          </div>          
        </div>
      </div>
    </div>
  </form>
</div>